body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    margin: 0px;
}

nav {
    background-color: rgb(138, 138, 138);
    padding: 4px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

nav>a {
    text-decoration: none;
    padding: 3px;
    margin-right: -2px;
    color: white;
    background-color: black;
    padding: 1px 15px 2px 15px;

}

nav>a#canto {
    padding: 2px 13px 2px 13px;
}

nav>a:hover {
    text-decoration: underline;
    color: white;
    background-color: rgb(209, 209, 209);
    text-decoration: none;

}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

article {
    background-color: lightgray;
    padding: 5px;
}

article>aside {
    background-color: rgb(228, 228, 228);
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer>p {
    margin: 0px;
}

div#bola {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
}