body {
    font-family: Helvetica;
    background-color: #04030F;
    margin: 0px 40px;
}

header {
    background-image: linear-gradient(to bottom right, #4d4655, #4b4869);

}

main {
    background-color: #5F1A37;
    margin-top: 10px;
}

footer {
    background-color: #5F1A37;
    margin-top: 10px;
}




header>h1 {
    font-size: 50px;
    margin: auto;
    padding: 10px 10px;
}

nav {
    background-color: #5F1A37;
    margin-top: 10px;
    padding: 13px 10px;
}

nav>a {
    background-color: #7A6C89;
    margin-top: 15px;
    padding: 7px 14px;
    text-decoration: none;
    color: #04030F;
}

nav>a:hover {
    background-color: #04030F;
    margin-top: 15px;
    padding: 7px 14px;
    color: #73EEDC;
    text-decoration: none;
}

/* 
Paleta de cores do projeto:
coolors: https://coolors.co/73eedc-73c2be-7a6c89-5f1a37-04030f
#04030F 
#5F1A37
#776885
#73C2BE 
#73EEDC */